---
import BaseLayout from "../../layouts/BaseLayout.astro";

const allPosts: any = Astro.glob("../posts/*.md");

const uniqueTags = [
    ...new Set(allPosts.map((post: any) => post.frontmatter.tags).flat()),
];
const pageTitle = "Category Page";
---

<BaseLayout pageTitle={pageTitle}>
    {
        uniqueTags.map((tag) => (
            <li>
                <a href={`tags/$tag`}>{tag}</a>
            </li>
        ))
    }
</BaseLayout>
