---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Brewing Developer Home Page";
---

<BaseLayout pageTitle={pageTitle}>
	<h1>Home Page</h1>
</BaseLayout>
