---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Alankar's Blog</title>
		<style>
			@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

			.alankar {
				font-family: 'Anton', sans-serif;
				font-size: 36px;
			}

			.blog {
				font-family: 'Anton', sans-serif;
				display: inline-block;
				transform: translate(-10%,-30% ) rotate(-90deg);
				text-align: center;

			 }

			 .logo{
				text-align: center;
			 }
		</style>
	</head>
	<body>
		<header>
			<div class="logo">
				<span class="alankar">ALANKAR'S</span>
				<span class="blog">Blog</span>
			</div>
		</header>
		<h1></h1>
	</body>
</html>
