---
import "./BlogPreview.css";
const { title, description } = Astro.props;
---

<div class="preview">
    <div class="preview-title">{title}</div>
    <div class="preview-description">{description}</div>
</div>
