---
import "./BlogPreview.css";
const { title, description, date } = Astro.props;
const formattedDate = new Date(date).toDateString();
---

<div class="preview">
    <div class="preview-title">{title}</div>
    <div class="preview-description">{description}</div>
    <div class="preview-date">{formattedDate}</div>
</div>
