.hamburger{
    position: relative;
    cursor: pointer;
    left: -3rem;
}

.hamburger .line{
    display: block;
    width: 30px;
    height: 2px;
    margin-bottom: 10px;
    background-color: #BEC4B9;
}