.tile{
    width: 100%;
    min-width: 300px;
    max-width: 300px;
    background-color: #E6C570;
    box-sizing: border-box;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    word-wrap: break-word;
    margin: 16px;
    padding: 16px;
    color: #4C5B5C;
    font-family: "League Spartan", sans-serif;
}

.tag{
    font-size: 36px;
    letter-spacing: -0.090rem;
    text-align: center;
    text-rendering:optimizeLegibility;
}